*{
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.fix{
    position:fixed;
    width:100%; 
    top: 0px; 
    
}
header{
    background-color: #56d5d2;
    /* background-color: #ffffff; */
    /* color: black; */
    /* background-color: #f6f6f7; */
    width: auto ;
    min-height:100px  ;
    padding: 15px;
    border-radius: 20px 20px ; 
    border: 3px solid rgb(255, 255, 255) ;
}
.header{
    display:grid;
    grid-template-columns: 1fr  1fr  1fr  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  1fr  ;
    position: relative;
}
.title{
    color:#f6f6f7;
    /* background-color: #f6f6f7; */
    font-size: 40px;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
}


/* ----- search
*/

.search{
    grid-column-start: 2;
    grid-column-end: 9;
    /* padding-left: 60px; */
}
            .box {
                /* margin-top: 4px ; */
                margin-left: 30px ;
                height:40px ;
                width: 300px ;
                background-color: #6060bc;
                border-radius: 35px;
                position:relative;
                overflow: hidden;
                transition: all 0.05s ease;
                
            }
            .search-text{
                width: 100%;
                height: 100%;
                border:none;
                outline:none;
                padding: 20px 40px 20px 20px ;
                font-size:16px ;
                color: rgb(125, 124, 124);
            }
            .btn{
                height:40px; 
                width:40px;

                background-color:#ffffff;
                border:none;
                outline:none;
                border-radius: 50%;
                cursor:pointer;
                position:absolute;
                top:0;
                right:0;   
           }
            .img-icon{
                max-width: 45%;
                height: auto;
            }
    
        /* bell  */
        .block_bell{
            grid-column-start: 11;
            grid-column-end: 12; 
            padding-left: 70px;
        }
        .btn_bell{
            height:40px; 
            width:40px;
            border:none;
            border-radius: 20px ;
            background-color:#ffffff;
            outline:none;
        }

      

        .img-gh{
            max-width: 16px;
            height: auto;
            
        } 
        /* tai khoản  */
        .taikhoan{
            grid-column-start: 12;
            grid-column-end: 13;
            padding-left: 10px;
        }

       .account{
            height:40px; 
            width:40px;
            border:none;
            border-radius: 20px ;
            background-color:#ffffff;
            outline:none;
        }
        .img-acc{
            /* margin-top: 2px; */
            max-width: 16px;
            height: auto;
        }    
 /* ----- */

.thanh_search{
    width: 200px;
    height: 30px ; 
    
}

.thanh_search img{
    height: 40%; 
    width: auto 
}


ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}


/* fomat-css  */
.container_body{
   
    margin: 0px 10px 0px  ;
    /* padding: 10px; */
    max-width: 100%;
    height : auto ;
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
    /* background-color: rgb(42, 133, 130); */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
   
}
.col_left
{
    background-color: #8dedeb;
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.list-item{
    background-color: #56d5d2;
    align-content: center;
    padding:10px;
}
.list-item:hover
{
    background-color:  #f79449;
}




.col_right{
    background-color: #8dbaed;
    grid-column-start: 3;
    grid-column-end: 13;
}


.first_row{
    
    background-color: #8dedeb;
    display: flex;
    flex-wrap:nowrap;
    text-align: center;
}
.title_r{
    width : 80%;
}

/* button add revenue */
.btn_add-u{
   width: 20%;
}
.btn_add-User{
    cursor: pointer;
    /* background-color: #56d5d2; */
    background-color: #c8e7e6;
    border: none;
    
    display: block;
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border-radius: 15px;
    outline: none;
}
.btn_add-User:hover{
    background-color: #f79449;
}

/* content */

.second_row{
    background-color: #f1f7ff;
}




